/*========== NAV ==========*/

/*========== HOME ==========*/
.home__container {
  /* height: calc(100vh - var(--header-height)); */
  align-content: center;
}

.home__title {
  /* font-size: var(--biggest-font-size); */
  font-size: var(--big-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img {
  width: 300px;
  /* border-radius: 50%; */
  justify-self: center;
}

.home__icon {
  font-size: 2em;
  margin-left: var(--mb-1);
}

/*========== SERVICES ==========*/
.services__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
  text-align: center;
}

.services__img {
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description {
  padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
  padding: 0.75rem;
}

.menu__img {
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name,
.menu__preci {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name {
  font-size: var(--normal-font-size);
}

.menu__detail,
.menu__preci {
  font-size: var(--small-font-size);
}

.menu__detail {
  margin-bottom: var(--mb-1);
}

.menu__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0.625rem 0.813rem;
  border-radius: 0.5rem 0 0.5rem 0;
}

/*========== APP ==========*/
.app__data {
  text-align: center;
}

.app__description {
  margin-bottom: var(--mb-5);
}

.app__stores {
  margin-bottom: var(--mb-4);
}

.app__store {
  width: 120px;
  margin: 0 var(--mb-1);
}

.app__img {
  width: 230px;
  justify-self: center;
}

/*========== CONTACT ==========*/
.contact__container {
  text-align: center;
}

.contact__description {
  margin-bottom: var(--mb-3);
}

/*========== FOOTER ==========*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

.__logo {
  width: 2em;
  height: 2em;
  margin: 1em 1em 1em 1em;
}

/* circle */
.circle1 {
  display: block;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  box-shadow: var(--inner-shadow);

  -webkit-animation: spin 2s linear infinite;
  animation: spin 4s linear infinite;
}

.circle1 {
  margin: -20em 0 0 -1.5em;
  animation-delay: 200ms;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home.section .home__img .img__box {
  max-width: 450px;
  /* order: -1; */
}

/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 576px) {
  .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home.section .home__img {
    width: 240px;
    order: -2;
  }
  .home__img img {
    width: 100%;
    /* border-radius: 50%; */
    /* border: 10px solid transparent; */
  }

  .img__box {
    width: 270px;
    display: block;
    margin: auto;
    /* border-radius: 50%; */
    padding: 15px;
  }

  .inner__shadow {
    box-shadow: var(--inner-shadow);
  }

  .outer__shadow {
    border-radius: 50%;
    border: 10px solid transparent;
    box-shadow: var(--outer-shadow);
  }

  .home__data {
    text-align: center;
  }

  /* .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  } */

  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button {
    justify-self: center;
  }

  .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }

  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button {
    justify-self: center;
  }

  .about-section .skills .skill-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .home__img img {
    width: 100%;
    /* border-radius: 50%; */
    /* border: 10px solid transparent; */
  }

  .img__box {
    /* width: 270px; */
    display: block;
    margin: auto;
    /* border-radius: 50%; */
    padding: 15px;
  }

  .inner__shadow {
    box-shadow: var(--inner-shadow);
  }

  .outer__shadow {
    border-radius: 50%;
    border: 10px solid transparent;
    box-shadow: var(--outer-shadow);
  }

  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    /* color: var(--title-color); */
    font-weight: var(--font-medium);
  }
}
@media screen and (max-width: 767px) {
  .nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  .nav__icon {
    font-size: 1.2rem;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    /* background-color: black; */
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .home__container {
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content {
    padding: 1.5rem;
  }
  .menu__img {
    width: 130px;
  }

  .app__store {
    margin: 0 var(--mb-1) 0 0;
  }

  /* Active menu */
  /* .active-link {
    color: var(--first-color);
    border-bottom: 3px solid #2b93bd;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  } */
  /* .nav__link.line:hover::after:active {
    content: "";
    display: block;
    border-bottom: 3px solid #2b93bd;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  } */

  /* home */
  .home__img img {
    width: 100%;
    /* border-radius: 50%; */
    /* border: 10px solid transparent; */
  }

  .img__box {
    /* width: 270px; */
    display: block;
    margin: auto;
    /* border-radius: 50%; */
    padding: 15px;
  }

  .inner__shadow {
    box-shadow: var(--inner-shadow);
  }

  .outer__shadow {
    border-radius: 50%;
    border: 10px solid transparent;
    box-shadow: var(--outer-shadow);
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .home__container {
    height: 640px;
  }
}
